{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="card shadow rounded-3 text-center">
        <div class="card-body">
            <h2 class="h4 fw-bold text-dark mb-3">Welcome to Afriktrade</h2>
            <p class="lead text-secondary">We empower African businesses and consumers to access global opportunities effortlessly...</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero shadow-lg">
        <h2 class="fw-bold mb-3">Connecting Africa and the Globe Through Seamless Trade and E-Commerce Solutions</h2>
        <p class="lead">Afriktrade Limited: Bridging the trade gap between Africa and Asia...</p>
        <a href="/services" class="btn btn-light btn-md mt-3 shadow">Explore Services</a>
    </div>
</div>
{% endblock %}